.searched__movies{
    margin-top: 10rem;    
}
.searched__movies-container{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    row-gap: 2rem; 

}
.movieCard{    
    text-align: center;    
}
@media screen and (max-width: 80em) {
    .searched__movies-container{
        grid-template-columns: repeat(2, 1fr );
    }
}